.Hero {
    width: 100vw;
    height: 50vh;
    background-color: $detail-color;
    position: relative;
    margin: 0;
    padding: 0;
    &__Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: opacity(0.6) grayscale(1);
        }
    &__Display {
        @extend %display;
        @include position(absolute, 50%, null, null, 50%);
        @include centerAbsolute(-50%, -50%);
        text-align: center;
    }
}